

#basePane{
    -fx-background-color: #25262b;
}


#mainVbox, #mainScrollPane, #sideVBox, #madeProjectPane {

    -fx-background-color: rgba(28,28,28,255);
}

#overlayID {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
#bigPane, #projectPane {
    -fx-background-color: #25262b;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px
}



#projectPanID {
    -fx-background-color: #25262b;
}

#sidebarProjects0{
    -fx-text-fill: white;
    -fx-font-size: 2em;
}

#sidebarProjects1{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#hyperlink0, #hyperlink1, #hyperlink2, #hyperlink3 {
    -fx-text-fill: grey;


}

#hyperlink0:hover, #hyperlink1:hover, #hyperlink2:hover, #hyperlink3:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0.15);
    -fx-background-radius: 20px;
    -fx-underline: false;

}

#sidepart0, #sidepart05, #sidepart1, #sidepart15, #sidepart2, #sidepart25, #sidepart3 {
    -fx-text-fill: white;
}

#buttonA, #buttonV{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#buttonA:hover, #buttonV:hover{
    -fx-cursor: hand;
}


#buttonP{
    -fx-text-fill: grey;
    -fx-font-size: 1em;
    -fx-background-radius: 50px;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: transparent;
}


#buttonP:hover{
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-cursor: hand;
}

#logoutButton{
    -fx-text-fill: rgba(200, 0, 0, 0.6);
    -fx-font-size: 1em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#logoutButton:hover{
    -fx-text-fill: rgba(200, 0, 0, 1);
    -fx-cursor: hand;

}

#progressLabelID{
    -fx-text-fill: grey;
    -fx-font-size: 1.2em;
}

#tipsLabelID{
    -fx-text-fill: grey;

}

#titleID{
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}

#textareaID, .content{
    -fx-text-fill: grey;
    -fx-background-color: #25262b;
    -fx-font-size: 1em;
    -fx-spacing: 2px;

}

#textareaID .scroll-bar, .thumb{
    -fx-background-color: transparent;
    -fx-opacity: 0;

}


