#settingsMain{
    -fx-background-color: #25262b;
}

#rec1, #rec2 {
    -fx-background-color: blue;
}

#rec1Label1, #rec1Label2, #rec2Label1, #rec2Label2 {
    -fx-text-fill: white;
}

#settingsLabel {
    -fx-font-size: 1.7em;
    -fx-text-fill: white;
}

#settingsLabel2, #accountLabel, #appLabel {

}

#buttonAbout, #buttonAccount, #buttonLang, #buttonImg, #buttonTypo, #buttonPass {
    -fx-pref-width: 340px;
    -fx-background-color: black;
    -fx-text-fill: grey;
}

#buttonLogout{

}